<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/css-icons/all.css">
</head>
<body style="background-image: url(../static/2.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;">
    <div class="recover">
        <form action="http://localhost:5000/recover_password" method="POST" class="input-box-recover">
            <div>
                <label class="label1" for="Email">Please enter your email address:</label>
            </div>
            <input type="text" class="input-field-recover" name="Email" placeholder="Email" autocomplete="on" required>
            <div class="input-submit-recover" id="next">
                <button type="submit" class="submit-btn-recover" id="submit">Next</button>
            </div>
        </form> 
    </div>  
</body>
</html>
