<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css-icons/all.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>Welcome Page</title>

</head>
<body style="background-image: url(../static/2.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;">
    <div class="welcome-box">
        <div class="welcome-header">
            <header>Welcome</header>
        </div>
        <div class="welcome-message">
            <p>Welcome to our website!</p>
            <p>We're glad to have you here.</p>
        </div>
    </div>
</body>
</html>
